@import "./normalize.css";
@import "./fonts.scss";
@import "./variables.scss";
@import "./mixins.scss";

:root {
  font-family: "Inter", Helvetica, Arial, system-ui, Avenir, sans-serif;
  line-height: normal;
  font-weight: 400;
  color: $black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.page-content {
  padding: 1rem 2rem;
}

.Widget {
  background-color: $white;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.1rem rgba($black, 0.15);
  padding: 1rem;
  max-width: 32rem;
  color: $black;
  cursor: default;

  &__content {
    margin-bottom: 1rem;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    background: none;
    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.85rem;
    cursor: pointer;

    opacity: 0;
    transition: opacity 0.2s;
  }

  &:hover {
    .Widget__btn {
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }
  }

  .btn-settings {
    @include btn($blue, $opacity: 0);
  }

  .btn-delete {
    @include btn($red, $opacity: 0);
  }
}

.sortable-ghost {
  @extend .Widget;

  background-color: $grey-1;
  padding: 0.2rem;
  box-shadow: none;
}

.Sidebar .Widget {
  cursor: grab;
}

.Sidebar .Widget__controls {
  display: none;
}
