@import "./normalize.css";
@import "./fonts.scss";
@import "./variables.scss";

:root {
  font-family: "Inter", Helvetica, Arial, system-ui, Avenir, sans-serif;
  line-height: normal;
  font-weight: 400;
  color: $black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.Widget {
  background-color: $white;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.1rem rgba($black, 0.15);
  padding: 1rem;
  max-width: 32rem;
  color: $black;
  cursor: grab;
}
